h1{
  color:rgb(105, 108, 107);
  text-transform: uppercase;
  font-family: monospace;
  font-size: 60px
}

h2{
  color:rgb(72, 112, 63);
  font-weight: lighter;
}

#sub{
  color: rgb(45, 125, 176);
  font-family: fantasy;
  font-size: 40px;
}

#main-text{
  color: rgb(18, 17, 17)
  font-family:inherit;
  font-size: 20px
}
.center{
  background-color: rgb(222, 225, 237);
  text-align: center;
  padding: 30px 500px;
}

ul{
  list-style-type: none;
}

a{
  color:black;
}
